<nav class="navbar" dir="rtl">
  
  <div class="title-section">
    <h1 class="page-title">{{ layoutState.pageTitle() }}</h1>
    <span class="user-role">أدمن النظام</span>
  </div>

  <div class="actions-section">
    
    <button class="action-btn outline-btn">
      <span>خروج</span>
      <i class="fas fa-sign-out-alt"></i> </button>

    <button class="icon-btn">
      <i class="far fa-bell"></i>
      <span class="notification-dot"></span>
    </button>

    <button class="action-btn lang-btn">
      <span>EN</span>
      <i class="fas fa-globe"></i>
    </button>

    <div class="action-box dropdown-box">
      <span>هذا الشهر</span>
      <i class="fas fa-chevron-down"></i>
    </div>

    <div class="action-box date-box">
      الاثنين، 14 أكتوبر 2025
    </div>

  </div>

</nav>